org.dma.services.feap/wsdl/NetixMessaging-1.2.0.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6b21  svn-revision#12959. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6b21  svn-revision#12959. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.messaging.pt.generixgroup.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.messaging.pt.generixgroup.com/" name="WebserviceService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.messaging.pt.generixgroup.com/" schemaLocation="http://messaging.generixpt.com:9090/messaging_webservice/WebservicePort?xsd=1"/>
</xsd:schema>
</types>
<message name="version">
<part name="parameters" element="tns:version"/>
</message>
<message name="versionResponse">
<part name="parameters" element="tns:versionResponse"/>
</message>
<message name="getDocument">
<part name="parameters" element="tns:getDocument"/>
</message>
<message name="getDocumentResponse">
<part name="parameters" element="tns:getDocumentResponse"/>
</message>
<message name="listDocuments">
<part name="parameters" element="tns:listDocuments"/>
</message>
<message name="listDocumentsResponse">
<part name="parameters" element="tns:listDocumentsResponse"/>
</message>
<message name="uploadDocument">
<part name="parameters" element="tns:uploadDocument"/>
</message>
<message name="uploadDocumentResponse">
<part name="parameters" element="tns:uploadDocumentResponse"/>
</message>
<message name="deleteDocument">
<part name="parameters" element="tns:deleteDocument"/>
</message>
<message name="deleteDocumentResponse">
<part name="parameters" element="tns:deleteDocumentResponse"/>
</message>
<message name="MalformedURLException">
<part name="fault" element="tns:MalformedURLException"/>
</message>
<portType name="Webservice">
<operation name="version">
<input wsam:Action="http://webservice.messaging.pt.generixgroup.com/Webservice/versionRequest" message="tns:version"/>
<output wsam:Action="http://webservice.messaging.pt.generixgroup.com/Webservice/versionResponse" message="tns:versionResponse"/>
</operation>
<operation name="getDocument">
<input wsam:Action="http://webservice.messaging.pt.generixgroup.com/Webservice/getDocumentRequest" message="tns:getDocument"/>
<output wsam:Action="http://webservice.messaging.pt.generixgroup.com/Webservice/getDocumentResponse" message="tns:getDocumentResponse"/>
</operation>
<operation name="listDocuments">
<input wsam:Action="http://webservice.messaging.pt.generixgroup.com/Webservice/listDocumentsRequest" message="tns:listDocuments"/>
<output wsam:Action="http://webservice.messaging.pt.generixgroup.com/Webservice/listDocumentsResponse" message="tns:listDocumentsResponse"/>
</operation>
<operation name="uploadDocument">
<input wsam:Action="http://webservice.messaging.pt.generixgroup.com/Webservice/uploadDocumentRequest" message="tns:uploadDocument"/>
<output wsam:Action="http://webservice.messaging.pt.generixgroup.com/Webservice/uploadDocumentResponse" message="tns:uploadDocumentResponse"/>
</operation>
<operation name="deleteDocument">
<input wsam:Action="http://webservice.messaging.pt.generixgroup.com/Webservice/deleteDocumentRequest" message="tns:deleteDocument"/>
<output wsam:Action="http://webservice.messaging.pt.generixgroup.com/Webservice/deleteDocumentResponse" message="tns:deleteDocumentResponse"/>
<fault message="tns:MalformedURLException" name="MalformedURLException" wsam:Action="http://webservice.messaging.pt.generixgroup.com/Webservice/deleteDocument/Fault/MalformedURLException"/>
</operation>
</portType>
<binding name="WebservicePortBinding" type="tns:Webservice">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="version">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDocument">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listDocuments">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="uploadDocument">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteDocument">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="MalformedURLException">
<soap:fault name="MalformedURLException" use="literal"/>
</fault>
</operation>
</binding>
<service name="WebserviceService">
<port name="WebservicePort" binding="tns:WebservicePortBinding">
<soap:address location="http://messaging.generixpt.com:9090/messaging_webservice/WebservicePort"/>
</port>
</service>
</definitions>