org.dma.services.payment/wsdl/ifmbws.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://www.ifthenpay.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="https://www.ifthenpay.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;font  size="4"&gt;&lt;strong&gt;WebService de Suporte ao Serviço &lt;br /&gt;&lt;font color="#008C8C"&gt;IFMB - Pagamentos por Referência Multibanco&lt;/font&gt;.&lt;/strong&gt;&lt;/font&gt; &lt;br /&gt;&lt;br /&gt;</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://www.ifthenpay.com/">
      <s:element name="getPayments">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="chavebackoffice" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="entidade" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subentidade" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dtHrInicio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dtHrFim" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="referencia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="valor" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPaymentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPaymentsResult" type="tns:ArrayOfIfmb" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfIfmb">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Ifmb" nillable="true" type="tns:Ifmb" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Ifmb">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Entidade" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SubEntidade" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="Referencia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Valor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DtHrPagamento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Processamento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Terminal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tarifa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ValorLiquido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoErro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MensagemErro" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getPaymentsWithSandBox">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="chavebackoffice" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="entidade" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subentidade" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dtHrInicio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dtHrFim" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="referencia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="valor" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sandbox" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPaymentsWithSandBoxResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPaymentsWithSandBoxResult" type="tns:ArrayOfIfmb" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPaymentsXml">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="chavebackoffice" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="entidade" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subentidade" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dtHrInicio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dtHrFim" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="referencia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="valor" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPaymentsXmlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPaymentsXmlResult" type="tns:ArrayOfIfmb" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPaymentsXmlWithSandBox">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="chavebackoffice" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="entidade" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subentidade" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dtHrInicio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dtHrFim" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="referencia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="valor" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sandbox" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPaymentsXmlWithSandBoxResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPaymentsXmlWithSandBoxResult" type="tns:ArrayOfIfmb" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPaymentsJson">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="chavebackoffice" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="entidade" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subentidade" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dtHrInicio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dtHrFim" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="referencia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="valor" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPaymentsJsonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPaymentsJsonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPaymentsJsonWithSandBox">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="chavebackoffice" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="entidade" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subentidade" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dtHrInicio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dtHrFim" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="referencia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="valor" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sandbox" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPaymentsJsonWithSandBoxResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPaymentsJsonWithSandBoxResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getEntidadeSubentidade">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="chavebackoffice" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getEntidadeSubentidadeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getEntidadeSubentidadeResult" type="tns:ArrayOfIfmb" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getEntidadeSubentidadeXml">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="chavebackoffice" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getEntidadeSubentidadeXmlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getEntidadeSubentidadeXmlResult" type="tns:ArrayOfIfmb" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getEntidadeSubentidadeJson">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="chavebackoffice" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getEntidadeSubentidadeJsonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getEntidadeSubentidadeJsonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getEntidadeSubentidadeJsonV2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="chavebackoffice" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getEntidadeSubentidadeJsonV2Response">
        <s:complexType />
      </s:element>
      <s:element name="getPaymentsJsonV2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="chavebackoffice" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="entidade" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subentidade" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dtHrInicio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dtHrFim" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="referencia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="valor" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sandbox" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPaymentsJsonV2Response">
        <s:complexType />
      </s:element>
      <s:element name="getPaymentsJsonWithSandBoxV2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="chavebackoffice" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="entidade" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subentidade" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dtHrInicio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dtHrFim" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="referencia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="valor" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sandbox" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPaymentsJsonWithSandBoxV2Response">
        <s:complexType />
      </s:element>
      <s:element name="ArrayOfIfmb" nillable="true" type="tns:ArrayOfIfmb" />
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getPaymentsSoapIn">
    <wsdl:part name="parameters" element="tns:getPayments" />
  </wsdl:message>
  <wsdl:message name="getPaymentsSoapOut">
    <wsdl:part name="parameters" element="tns:getPaymentsResponse" />
  </wsdl:message>
  <wsdl:message name="getPaymentsWithSandBoxSoapIn">
    <wsdl:part name="parameters" element="tns:getPaymentsWithSandBox" />
  </wsdl:message>
  <wsdl:message name="getPaymentsWithSandBoxSoapOut">
    <wsdl:part name="parameters" element="tns:getPaymentsWithSandBoxResponse" />
  </wsdl:message>
  <wsdl:message name="getPaymentsXmlSoapIn">
    <wsdl:part name="parameters" element="tns:getPaymentsXml" />
  </wsdl:message>
  <wsdl:message name="getPaymentsXmlSoapOut">
    <wsdl:part name="parameters" element="tns:getPaymentsXmlResponse" />
  </wsdl:message>
  <wsdl:message name="getPaymentsXmlWithSandBoxSoapIn">
    <wsdl:part name="parameters" element="tns:getPaymentsXmlWithSandBox" />
  </wsdl:message>
  <wsdl:message name="getPaymentsXmlWithSandBoxSoapOut">
    <wsdl:part name="parameters" element="tns:getPaymentsXmlWithSandBoxResponse" />
  </wsdl:message>
  <wsdl:message name="getPaymentsJsonSoapIn">
    <wsdl:part name="parameters" element="tns:getPaymentsJson" />
  </wsdl:message>
  <wsdl:message name="getPaymentsJsonSoapOut">
    <wsdl:part name="parameters" element="tns:getPaymentsJsonResponse" />
  </wsdl:message>
  <wsdl:message name="getPaymentsJsonWithSandBoxSoapIn">
    <wsdl:part name="parameters" element="tns:getPaymentsJsonWithSandBox" />
  </wsdl:message>
  <wsdl:message name="getPaymentsJsonWithSandBoxSoapOut">
    <wsdl:part name="parameters" element="tns:getPaymentsJsonWithSandBoxResponse" />
  </wsdl:message>
  <wsdl:message name="getEntidadeSubentidadeSoapIn">
    <wsdl:part name="parameters" element="tns:getEntidadeSubentidade" />
  </wsdl:message>
  <wsdl:message name="getEntidadeSubentidadeSoapOut">
    <wsdl:part name="parameters" element="tns:getEntidadeSubentidadeResponse" />
  </wsdl:message>
  <wsdl:message name="getEntidadeSubentidadeXmlSoapIn">
    <wsdl:part name="parameters" element="tns:getEntidadeSubentidadeXml" />
  </wsdl:message>
  <wsdl:message name="getEntidadeSubentidadeXmlSoapOut">
    <wsdl:part name="parameters" element="tns:getEntidadeSubentidadeXmlResponse" />
  </wsdl:message>
  <wsdl:message name="getEntidadeSubentidadeJsonSoapIn">
    <wsdl:part name="parameters" element="tns:getEntidadeSubentidadeJson" />
  </wsdl:message>
  <wsdl:message name="getEntidadeSubentidadeJsonSoapOut">
    <wsdl:part name="parameters" element="tns:getEntidadeSubentidadeJsonResponse" />
  </wsdl:message>
  <wsdl:message name="getEntidadeSubentidadeJsonV2SoapIn">
    <wsdl:part name="parameters" element="tns:getEntidadeSubentidadeJsonV2" />
  </wsdl:message>
  <wsdl:message name="getEntidadeSubentidadeJsonV2SoapOut">
    <wsdl:part name="parameters" element="tns:getEntidadeSubentidadeJsonV2Response" />
  </wsdl:message>
  <wsdl:message name="getPaymentsJsonV2SoapIn">
    <wsdl:part name="parameters" element="tns:getPaymentsJsonV2" />
  </wsdl:message>
  <wsdl:message name="getPaymentsJsonV2SoapOut">
    <wsdl:part name="parameters" element="tns:getPaymentsJsonV2Response" />
  </wsdl:message>
  <wsdl:message name="getPaymentsJsonWithSandBoxV2SoapIn">
    <wsdl:part name="parameters" element="tns:getPaymentsJsonWithSandBoxV2" />
  </wsdl:message>
  <wsdl:message name="getPaymentsJsonWithSandBoxV2SoapOut">
    <wsdl:part name="parameters" element="tns:getPaymentsJsonWithSandBoxV2Response" />
  </wsdl:message>
  <wsdl:message name="getPaymentsHttpGetIn">
    <wsdl:part name="chavebackoffice" type="s:string" />
    <wsdl:part name="entidade" type="s:string" />
    <wsdl:part name="subentidade" type="s:string" />
    <wsdl:part name="dtHrInicio" type="s:string" />
    <wsdl:part name="dtHrFim" type="s:string" />
    <wsdl:part name="referencia" type="s:string" />
    <wsdl:part name="valor" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getPaymentsHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfIfmb" />
  </wsdl:message>
  <wsdl:message name="getPaymentsWithSandBoxHttpGetIn">
    <wsdl:part name="chavebackoffice" type="s:string" />
    <wsdl:part name="entidade" type="s:string" />
    <wsdl:part name="subentidade" type="s:string" />
    <wsdl:part name="dtHrInicio" type="s:string" />
    <wsdl:part name="dtHrFim" type="s:string" />
    <wsdl:part name="referencia" type="s:string" />
    <wsdl:part name="valor" type="s:string" />
    <wsdl:part name="sandbox" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getPaymentsWithSandBoxHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfIfmb" />
  </wsdl:message>
  <wsdl:message name="getPaymentsXmlHttpGetIn">
    <wsdl:part name="chavebackoffice" type="s:string" />
    <wsdl:part name="entidade" type="s:string" />
    <wsdl:part name="subentidade" type="s:string" />
    <wsdl:part name="dtHrInicio" type="s:string" />
    <wsdl:part name="dtHrFim" type="s:string" />
    <wsdl:part name="referencia" type="s:string" />
    <wsdl:part name="valor" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getPaymentsXmlHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfIfmb" />
  </wsdl:message>
  <wsdl:message name="getPaymentsXmlWithSandBoxHttpGetIn">
    <wsdl:part name="chavebackoffice" type="s:string" />
    <wsdl:part name="entidade" type="s:string" />
    <wsdl:part name="subentidade" type="s:string" />
    <wsdl:part name="dtHrInicio" type="s:string" />
    <wsdl:part name="dtHrFim" type="s:string" />
    <wsdl:part name="referencia" type="s:string" />
    <wsdl:part name="valor" type="s:string" />
    <wsdl:part name="sandbox" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getPaymentsXmlWithSandBoxHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfIfmb" />
  </wsdl:message>
  <wsdl:message name="getPaymentsJsonHttpGetIn">
    <wsdl:part name="chavebackoffice" type="s:string" />
    <wsdl:part name="entidade" type="s:string" />
    <wsdl:part name="subentidade" type="s:string" />
    <wsdl:part name="dtHrInicio" type="s:string" />
    <wsdl:part name="dtHrFim" type="s:string" />
    <wsdl:part name="referencia" type="s:string" />
    <wsdl:part name="valor" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getPaymentsJsonHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getPaymentsJsonWithSandBoxHttpGetIn">
    <wsdl:part name="chavebackoffice" type="s:string" />
    <wsdl:part name="entidade" type="s:string" />
    <wsdl:part name="subentidade" type="s:string" />
    <wsdl:part name="dtHrInicio" type="s:string" />
    <wsdl:part name="dtHrFim" type="s:string" />
    <wsdl:part name="referencia" type="s:string" />
    <wsdl:part name="valor" type="s:string" />
    <wsdl:part name="sandbox" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getPaymentsJsonWithSandBoxHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getEntidadeSubentidadeHttpGetIn">
    <wsdl:part name="chavebackoffice" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getEntidadeSubentidadeHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfIfmb" />
  </wsdl:message>
  <wsdl:message name="getEntidadeSubentidadeXmlHttpGetIn">
    <wsdl:part name="chavebackoffice" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getEntidadeSubentidadeXmlHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfIfmb" />
  </wsdl:message>
  <wsdl:message name="getEntidadeSubentidadeJsonHttpGetIn">
    <wsdl:part name="chavebackoffice" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getEntidadeSubentidadeJsonHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getEntidadeSubentidadeJsonV2HttpGetIn">
    <wsdl:part name="chavebackoffice" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getEntidadeSubentidadeJsonV2HttpGetOut" />
  <wsdl:message name="getPaymentsJsonV2HttpGetIn">
    <wsdl:part name="chavebackoffice" type="s:string" />
    <wsdl:part name="entidade" type="s:string" />
    <wsdl:part name="subentidade" type="s:string" />
    <wsdl:part name="dtHrInicio" type="s:string" />
    <wsdl:part name="dtHrFim" type="s:string" />
    <wsdl:part name="referencia" type="s:string" />
    <wsdl:part name="valor" type="s:string" />
    <wsdl:part name="sandbox" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getPaymentsJsonV2HttpGetOut" />
  <wsdl:message name="getPaymentsJsonWithSandBoxV2HttpGetIn">
    <wsdl:part name="chavebackoffice" type="s:string" />
    <wsdl:part name="entidade" type="s:string" />
    <wsdl:part name="subentidade" type="s:string" />
    <wsdl:part name="dtHrInicio" type="s:string" />
    <wsdl:part name="dtHrFim" type="s:string" />
    <wsdl:part name="referencia" type="s:string" />
    <wsdl:part name="valor" type="s:string" />
    <wsdl:part name="sandbox" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getPaymentsJsonWithSandBoxV2HttpGetOut" />
  <wsdl:message name="getPaymentsHttpPostIn">
    <wsdl:part name="chavebackoffice" type="s:string" />
    <wsdl:part name="entidade" type="s:string" />
    <wsdl:part name="subentidade" type="s:string" />
    <wsdl:part name="dtHrInicio" type="s:string" />
    <wsdl:part name="dtHrFim" type="s:string" />
    <wsdl:part name="referencia" type="s:string" />
    <wsdl:part name="valor" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getPaymentsHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfIfmb" />
  </wsdl:message>
  <wsdl:message name="getPaymentsWithSandBoxHttpPostIn">
    <wsdl:part name="chavebackoffice" type="s:string" />
    <wsdl:part name="entidade" type="s:string" />
    <wsdl:part name="subentidade" type="s:string" />
    <wsdl:part name="dtHrInicio" type="s:string" />
    <wsdl:part name="dtHrFim" type="s:string" />
    <wsdl:part name="referencia" type="s:string" />
    <wsdl:part name="valor" type="s:string" />
    <wsdl:part name="sandbox" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getPaymentsWithSandBoxHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfIfmb" />
  </wsdl:message>
  <wsdl:message name="getPaymentsXmlHttpPostIn">
    <wsdl:part name="chavebackoffice" type="s:string" />
    <wsdl:part name="entidade" type="s:string" />
    <wsdl:part name="subentidade" type="s:string" />
    <wsdl:part name="dtHrInicio" type="s:string" />
    <wsdl:part name="dtHrFim" type="s:string" />
    <wsdl:part name="referencia" type="s:string" />
    <wsdl:part name="valor" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getPaymentsXmlHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfIfmb" />
  </wsdl:message>
  <wsdl:message name="getPaymentsXmlWithSandBoxHttpPostIn">
    <wsdl:part name="chavebackoffice" type="s:string" />
    <wsdl:part name="entidade" type="s:string" />
    <wsdl:part name="subentidade" type="s:string" />
    <wsdl:part name="dtHrInicio" type="s:string" />
    <wsdl:part name="dtHrFim" type="s:string" />
    <wsdl:part name="referencia" type="s:string" />
    <wsdl:part name="valor" type="s:string" />
    <wsdl:part name="sandbox" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getPaymentsXmlWithSandBoxHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfIfmb" />
  </wsdl:message>
  <wsdl:message name="getPaymentsJsonHttpPostIn">
    <wsdl:part name="chavebackoffice" type="s:string" />
    <wsdl:part name="entidade" type="s:string" />
    <wsdl:part name="subentidade" type="s:string" />
    <wsdl:part name="dtHrInicio" type="s:string" />
    <wsdl:part name="dtHrFim" type="s:string" />
    <wsdl:part name="referencia" type="s:string" />
    <wsdl:part name="valor" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getPaymentsJsonHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getPaymentsJsonWithSandBoxHttpPostIn">
    <wsdl:part name="chavebackoffice" type="s:string" />
    <wsdl:part name="entidade" type="s:string" />
    <wsdl:part name="subentidade" type="s:string" />
    <wsdl:part name="dtHrInicio" type="s:string" />
    <wsdl:part name="dtHrFim" type="s:string" />
    <wsdl:part name="referencia" type="s:string" />
    <wsdl:part name="valor" type="s:string" />
    <wsdl:part name="sandbox" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getPaymentsJsonWithSandBoxHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getEntidadeSubentidadeHttpPostIn">
    <wsdl:part name="chavebackoffice" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getEntidadeSubentidadeHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfIfmb" />
  </wsdl:message>
  <wsdl:message name="getEntidadeSubentidadeXmlHttpPostIn">
    <wsdl:part name="chavebackoffice" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getEntidadeSubentidadeXmlHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfIfmb" />
  </wsdl:message>
  <wsdl:message name="getEntidadeSubentidadeJsonHttpPostIn">
    <wsdl:part name="chavebackoffice" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getEntidadeSubentidadeJsonHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getEntidadeSubentidadeJsonV2HttpPostIn">
    <wsdl:part name="chavebackoffice" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getEntidadeSubentidadeJsonV2HttpPostOut" />
  <wsdl:message name="getPaymentsJsonV2HttpPostIn">
    <wsdl:part name="chavebackoffice" type="s:string" />
    <wsdl:part name="entidade" type="s:string" />
    <wsdl:part name="subentidade" type="s:string" />
    <wsdl:part name="dtHrInicio" type="s:string" />
    <wsdl:part name="dtHrFim" type="s:string" />
    <wsdl:part name="referencia" type="s:string" />
    <wsdl:part name="valor" type="s:string" />
    <wsdl:part name="sandbox" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getPaymentsJsonV2HttpPostOut" />
  <wsdl:message name="getPaymentsJsonWithSandBoxV2HttpPostIn">
    <wsdl:part name="chavebackoffice" type="s:string" />
    <wsdl:part name="entidade" type="s:string" />
    <wsdl:part name="subentidade" type="s:string" />
    <wsdl:part name="dtHrInicio" type="s:string" />
    <wsdl:part name="dtHrFim" type="s:string" />
    <wsdl:part name="referencia" type="s:string" />
    <wsdl:part name="valor" type="s:string" />
    <wsdl:part name="sandbox" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getPaymentsJsonWithSandBoxV2HttpPostOut" />
  <wsdl:portType name="IfmbWSSoap">
    <wsdl:operation name="getPayments">
      <wsdl:input message="tns:getPaymentsSoapIn" />
      <wsdl:output message="tns:getPaymentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPaymentsWithSandBox">
      <wsdl:input message="tns:getPaymentsWithSandBoxSoapIn" />
      <wsdl:output message="tns:getPaymentsWithSandBoxSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPaymentsXml">
      <wsdl:input message="tns:getPaymentsXmlSoapIn" />
      <wsdl:output message="tns:getPaymentsXmlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPaymentsXmlWithSandBox">
      <wsdl:input message="tns:getPaymentsXmlWithSandBoxSoapIn" />
      <wsdl:output message="tns:getPaymentsXmlWithSandBoxSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPaymentsJson">
      <wsdl:input message="tns:getPaymentsJsonSoapIn" />
      <wsdl:output message="tns:getPaymentsJsonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPaymentsJsonWithSandBox">
      <wsdl:input message="tns:getPaymentsJsonWithSandBoxSoapIn" />
      <wsdl:output message="tns:getPaymentsJsonWithSandBoxSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getEntidadeSubentidade">
      <wsdl:input message="tns:getEntidadeSubentidadeSoapIn" />
      <wsdl:output message="tns:getEntidadeSubentidadeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getEntidadeSubentidadeXml">
      <wsdl:input message="tns:getEntidadeSubentidadeXmlSoapIn" />
      <wsdl:output message="tns:getEntidadeSubentidadeXmlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getEntidadeSubentidadeJson">
      <wsdl:input message="tns:getEntidadeSubentidadeJsonSoapIn" />
      <wsdl:output message="tns:getEntidadeSubentidadeJsonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getEntidadeSubentidadeJsonV2">
      <wsdl:input message="tns:getEntidadeSubentidadeJsonV2SoapIn" />
      <wsdl:output message="tns:getEntidadeSubentidadeJsonV2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPaymentsJsonV2">
      <wsdl:input message="tns:getPaymentsJsonV2SoapIn" />
      <wsdl:output message="tns:getPaymentsJsonV2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPaymentsJsonWithSandBoxV2">
      <wsdl:input message="tns:getPaymentsJsonWithSandBoxV2SoapIn" />
      <wsdl:output message="tns:getPaymentsJsonWithSandBoxV2SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IfmbWSHttpGet">
    <wsdl:operation name="getPayments">
      <wsdl:input message="tns:getPaymentsHttpGetIn" />
      <wsdl:output message="tns:getPaymentsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getPaymentsWithSandBox">
      <wsdl:input message="tns:getPaymentsWithSandBoxHttpGetIn" />
      <wsdl:output message="tns:getPaymentsWithSandBoxHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getPaymentsXml">
      <wsdl:input message="tns:getPaymentsXmlHttpGetIn" />
      <wsdl:output message="tns:getPaymentsXmlHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getPaymentsXmlWithSandBox">
      <wsdl:input message="tns:getPaymentsXmlWithSandBoxHttpGetIn" />
      <wsdl:output message="tns:getPaymentsXmlWithSandBoxHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getPaymentsJson">
      <wsdl:input message="tns:getPaymentsJsonHttpGetIn" />
      <wsdl:output message="tns:getPaymentsJsonHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getPaymentsJsonWithSandBox">
      <wsdl:input message="tns:getPaymentsJsonWithSandBoxHttpGetIn" />
      <wsdl:output message="tns:getPaymentsJsonWithSandBoxHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getEntidadeSubentidade">
      <wsdl:input message="tns:getEntidadeSubentidadeHttpGetIn" />
      <wsdl:output message="tns:getEntidadeSubentidadeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getEntidadeSubentidadeXml">
      <wsdl:input message="tns:getEntidadeSubentidadeXmlHttpGetIn" />
      <wsdl:output message="tns:getEntidadeSubentidadeXmlHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getEntidadeSubentidadeJson">
      <wsdl:input message="tns:getEntidadeSubentidadeJsonHttpGetIn" />
      <wsdl:output message="tns:getEntidadeSubentidadeJsonHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getEntidadeSubentidadeJsonV2">
      <wsdl:input message="tns:getEntidadeSubentidadeJsonV2HttpGetIn" />
      <wsdl:output message="tns:getEntidadeSubentidadeJsonV2HttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getPaymentsJsonV2">
      <wsdl:input message="tns:getPaymentsJsonV2HttpGetIn" />
      <wsdl:output message="tns:getPaymentsJsonV2HttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getPaymentsJsonWithSandBoxV2">
      <wsdl:input message="tns:getPaymentsJsonWithSandBoxV2HttpGetIn" />
      <wsdl:output message="tns:getPaymentsJsonWithSandBoxV2HttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IfmbWSHttpPost">
    <wsdl:operation name="getPayments">
      <wsdl:input message="tns:getPaymentsHttpPostIn" />
      <wsdl:output message="tns:getPaymentsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getPaymentsWithSandBox">
      <wsdl:input message="tns:getPaymentsWithSandBoxHttpPostIn" />
      <wsdl:output message="tns:getPaymentsWithSandBoxHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getPaymentsXml">
      <wsdl:input message="tns:getPaymentsXmlHttpPostIn" />
      <wsdl:output message="tns:getPaymentsXmlHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getPaymentsXmlWithSandBox">
      <wsdl:input message="tns:getPaymentsXmlWithSandBoxHttpPostIn" />
      <wsdl:output message="tns:getPaymentsXmlWithSandBoxHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getPaymentsJson">
      <wsdl:input message="tns:getPaymentsJsonHttpPostIn" />
      <wsdl:output message="tns:getPaymentsJsonHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getPaymentsJsonWithSandBox">
      <wsdl:input message="tns:getPaymentsJsonWithSandBoxHttpPostIn" />
      <wsdl:output message="tns:getPaymentsJsonWithSandBoxHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getEntidadeSubentidade">
      <wsdl:input message="tns:getEntidadeSubentidadeHttpPostIn" />
      <wsdl:output message="tns:getEntidadeSubentidadeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getEntidadeSubentidadeXml">
      <wsdl:input message="tns:getEntidadeSubentidadeXmlHttpPostIn" />
      <wsdl:output message="tns:getEntidadeSubentidadeXmlHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getEntidadeSubentidadeJson">
      <wsdl:input message="tns:getEntidadeSubentidadeJsonHttpPostIn" />
      <wsdl:output message="tns:getEntidadeSubentidadeJsonHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getEntidadeSubentidadeJsonV2">
      <wsdl:input message="tns:getEntidadeSubentidadeJsonV2HttpPostIn" />
      <wsdl:output message="tns:getEntidadeSubentidadeJsonV2HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getPaymentsJsonV2">
      <wsdl:input message="tns:getPaymentsJsonV2HttpPostIn" />
      <wsdl:output message="tns:getPaymentsJsonV2HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getPaymentsJsonWithSandBoxV2">
      <wsdl:input message="tns:getPaymentsJsonWithSandBoxV2HttpPostIn" />
      <wsdl:output message="tns:getPaymentsJsonWithSandBoxV2HttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IfmbWSSoap" type="tns:IfmbWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getPayments">
      <soap:operation soapAction="https://www.ifthenpay.com/getPayments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPaymentsWithSandBox">
      <soap:operation soapAction="https://www.ifthenpay.com/getPaymentsWithSandBox" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPaymentsXml">
      <soap:operation soapAction="https://www.ifthenpay.com/getPaymentsXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPaymentsXmlWithSandBox">
      <soap:operation soapAction="https://www.ifthenpay.com/getPaymentsXmlWithSandBox" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPaymentsJson">
      <soap:operation soapAction="https://www.ifthenpay.com/getPaymentsJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPaymentsJsonWithSandBox">
      <soap:operation soapAction="https://www.ifthenpay.com/getPaymentsJsonWithSandBox" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEntidadeSubentidade">
      <soap:operation soapAction="https://www.ifthenpay.com/getEntidadeSubentidade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEntidadeSubentidadeXml">
      <soap:operation soapAction="https://www.ifthenpay.com/getEntidadeSubentidadeXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEntidadeSubentidadeJson">
      <soap:operation soapAction="https://www.ifthenpay.com/getEntidadeSubentidadeJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEntidadeSubentidadeJsonV2">
      <soap:operation soapAction="https://www.ifthenpay.com/getEntidadeSubentidadeJsonV2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPaymentsJsonV2">
      <soap:operation soapAction="https://www.ifthenpay.com/getPaymentsJsonV2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPaymentsJsonWithSandBoxV2">
      <soap:operation soapAction="https://www.ifthenpay.com/getPaymentsJsonWithSandBoxV2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IfmbWSSoap12" type="tns:IfmbWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getPayments">
      <soap12:operation soapAction="https://www.ifthenpay.com/getPayments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPaymentsWithSandBox">
      <soap12:operation soapAction="https://www.ifthenpay.com/getPaymentsWithSandBox" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPaymentsXml">
      <soap12:operation soapAction="https://www.ifthenpay.com/getPaymentsXml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPaymentsXmlWithSandBox">
      <soap12:operation soapAction="https://www.ifthenpay.com/getPaymentsXmlWithSandBox" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPaymentsJson">
      <soap12:operation soapAction="https://www.ifthenpay.com/getPaymentsJson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPaymentsJsonWithSandBox">
      <soap12:operation soapAction="https://www.ifthenpay.com/getPaymentsJsonWithSandBox" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEntidadeSubentidade">
      <soap12:operation soapAction="https://www.ifthenpay.com/getEntidadeSubentidade" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEntidadeSubentidadeXml">
      <soap12:operation soapAction="https://www.ifthenpay.com/getEntidadeSubentidadeXml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEntidadeSubentidadeJson">
      <soap12:operation soapAction="https://www.ifthenpay.com/getEntidadeSubentidadeJson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEntidadeSubentidadeJsonV2">
      <soap12:operation soapAction="https://www.ifthenpay.com/getEntidadeSubentidadeJsonV2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPaymentsJsonV2">
      <soap12:operation soapAction="https://www.ifthenpay.com/getPaymentsJsonV2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPaymentsJsonWithSandBoxV2">
      <soap12:operation soapAction="https://www.ifthenpay.com/getPaymentsJsonWithSandBoxV2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IfmbWSHttpGet" type="tns:IfmbWSHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="getPayments">
      <http:operation location="/getPayments" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPaymentsWithSandBox">
      <http:operation location="/getPaymentsWithSandBox" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPaymentsXml">
      <http:operation location="/getPaymentsXml" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPaymentsXmlWithSandBox">
      <http:operation location="/getPaymentsXmlWithSandBox" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPaymentsJson">
      <http:operation location="/getPaymentsJson" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPaymentsJsonWithSandBox">
      <http:operation location="/getPaymentsJsonWithSandBox" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEntidadeSubentidade">
      <http:operation location="/getEntidadeSubentidade" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEntidadeSubentidadeXml">
      <http:operation location="/getEntidadeSubentidadeXml" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEntidadeSubentidadeJson">
      <http:operation location="/getEntidadeSubentidadeJson" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEntidadeSubentidadeJsonV2">
      <http:operation location="/getEntidadeSubentidadeJsonV2" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="getPaymentsJsonV2">
      <http:operation location="/getPaymentsJsonV2" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="getPaymentsJsonWithSandBoxV2">
      <http:operation location="/getPaymentsJsonWithSandBoxV2" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IfmbWSHttpPost" type="tns:IfmbWSHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="getPayments">
      <http:operation location="/getPayments" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPaymentsWithSandBox">
      <http:operation location="/getPaymentsWithSandBox" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPaymentsXml">
      <http:operation location="/getPaymentsXml" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPaymentsXmlWithSandBox">
      <http:operation location="/getPaymentsXmlWithSandBox" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPaymentsJson">
      <http:operation location="/getPaymentsJson" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPaymentsJsonWithSandBox">
      <http:operation location="/getPaymentsJsonWithSandBox" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEntidadeSubentidade">
      <http:operation location="/getEntidadeSubentidade" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEntidadeSubentidadeXml">
      <http:operation location="/getEntidadeSubentidadeXml" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEntidadeSubentidadeJson">
      <http:operation location="/getEntidadeSubentidadeJson" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEntidadeSubentidadeJsonV2">
      <http:operation location="/getEntidadeSubentidadeJsonV2" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="getPaymentsJsonV2">
      <http:operation location="/getPaymentsJsonV2" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="getPaymentsJsonWithSandBoxV2">
      <http:operation location="/getPaymentsJsonWithSandBoxV2" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IfmbWS">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;font  size="4"&gt;&lt;strong&gt;WebService de Suporte ao Serviço &lt;br /&gt;&lt;font color="#008C8C"&gt;IFMB - Pagamentos por Referência Multibanco&lt;/font&gt;.&lt;/strong&gt;&lt;/font&gt; &lt;br /&gt;&lt;br /&gt;</wsdl:documentation>
    <wsdl:port name="IfmbWSSoap" binding="tns:IfmbWSSoap">
      <soap:address location="https://ifthenpay.com/ifmbws/ifmbws.asmx" />
    </wsdl:port>
    <wsdl:port name="IfmbWSSoap12" binding="tns:IfmbWSSoap12">
      <soap12:address location="https://ifthenpay.com/ifmbws/ifmbws.asmx" />
    </wsdl:port>
    <wsdl:port name="IfmbWSHttpGet" binding="tns:IfmbWSHttpGet">
      <http:address location="https://ifthenpay.com/ifmbws/ifmbws.asmx" />
    </wsdl:port>
    <wsdl:port name="IfmbWSHttpPost" binding="tns:IfmbWSHttpPost">
      <http:address location="https://ifthenpay.com/ifmbws/ifmbws.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>