org.dma.services.at/wsdl/Factemiws.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://servicos.portaldasfinancas.gov.pt/faturas/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="faturas"
	targetNamespace="http://servicos.portaldasfinancas.gov.pt/faturas/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://servicos.portaldasfinancas.gov.pt/faturas/">

			<xsd:element name="RegisterInvoiceElem" type="tns:RegisterInvoiceType">
			</xsd:element>
			<xsd:element name="RegisterInvoiceResponseElem" type="tns:RegisterInvoiceResponseType">
			</xsd:element>

			<xsd:complexType name="RegisterInvoiceResponseType">
				<xsd:sequence>
					<xsd:element name="ReturnCode" type="xsd:int"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="ReturnMessage" maxOccurs="1"
						minOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="256"></xsd:maxLength>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="RegisterInvoiceType">
				<xsd:sequence>
					<!-- a), nº4, art. 3º, D.L. 198/2012 -->
					<xsd:element name="TaxRegistrationNumber" type="tns:SAFPTPortugueseVatNumber" />
					<!-- b), nº4, art. 3º, D.L. 198/2012 -->
					<xsd:element ref="tns:InvoiceNo" />
					<!-- c), nº4, art. 3º, D.L. 198/2012 -->
					<xsd:element ref="tns:InvoiceDate" />
					<!-- d), nº4, art. 3º, D.L. 198/2012 -->
					<xsd:element ref="tns:InvoiceType" />
					<xsd:element ref="tns:InvoiceStatus" minOccurs="0"/>
					<!-- e) f), nº4, art. 3º, D.L. 198/2012 -->
					<xsd:choice>
						<xsd:element name="CustomerTaxID" type="tns:SAFPTPortugueseVatNumber" />
						<xsd:element ref="tns:InternationalCustomerTaxID" />
					</xsd:choice>
					<xsd:element maxOccurs="unbounded" name="Line">
						<xsd:complexType>
							<xsd:sequence>
								<!-- g), nº4, art. 3º, D.L. 198/2012 -->
								<xsd:choice>
									<xsd:element ref="tns:DebitAmount" />
									<xsd:element ref="tns:CreditAmount" />
								</xsd:choice>
								<!-- h), nº4, art. 3º, D.L. 198/2012 -->
								<xsd:element ref="tns:Tax" />
								<!-- i), nº4, art. 3º, D.L. 198/2012 -->
								<xsd:element minOccurs="0" ref="tns:TaxExemptionReason" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="DocumentTotals">
						<xsd:complexType>
							<xsd:sequence>
								<!-- j), nº4, art. 3º, D.L. 198/2012 -->
								<xsd:element ref="tns:TaxPayable" />
								<!-- g), nº4, art. 3º, D.L. 198/2012 -->
								<xsd:element ref="tns:NetTotal" />
								<xsd:element ref="tns:GrossTotal" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:simpleType name="SAFPTPortugueseVatNumber">
				<xsd:restriction base="xsd:integer">
					<xsd:minInclusive value="100000000" />
					<xsd:maxInclusive value="999999999" />
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:element name="InternationalCustomerTaxID">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="TaxIDNumber" type="tns:SAFPTtextTypeMandatoryMax20Car" />
						<xsd:element name="TaxIDCountry" type="tns:ForeignCountry" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			

			<!-- Código único do documento -->
			<xsd:element name="InvoiceNo">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="([a-zA-Z0-9./_\-])+ ([a-zA-Z0-9]*/[0-9]+)" />
						<xsd:minLength value="1" />
						<xsd:maxLength value="60" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="InvoiceDate" type="tns:SAFdateType" />

			<!-- Tipo de documento -->
			<xsd:element name="InvoiceType">
				<xsd:annotation>
					<xsd:documentation>
						Restrição: Tipos de Documento (FT - Fatura,
						NC-Nota de Crédito, ND - Nota de
						Débito, FS - Fatura Simplificada,
						FR - Fatura-recibo)
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="FT" />
						<xsd:enumeration value="NC" />
						<xsd:enumeration value="ND" />
						<xsd:enumeration value="FS" />
						<xsd:enumeration value="FR" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<!-- Estado do documento -->
			<xsd:element name="InvoiceStatus">
				<xsd:annotation>
					<xsd:documentation>N para Normal, A para Anulado</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="N" />
						<xsd:enumeration value="A" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="DebitAmount" type="tns:SAFmonetaryType" />
			<xsd:element name="CreditAmount" type="tns:SAFmonetaryType" />

			<xsd:element name="Tax">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="tns:TaxType" />
						<xsd:element ref="tns:TaxCountryRegion" />
						<xsd:element ref="tns:TaxPercentage" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="TaxType">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="IVA" />
						<xsd:minLength value="3" />
						<xsd:maxLength value="3" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="TaxCountryRegion">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern
							value="PT|PT-AC|PT-MA" />
						<xsd:minLength value="2" />
						<xsd:maxLength value="5" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="TaxPercentage" type="tns:SAFdecimalType" />

			<xsd:element name="TaxExemptionReason">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="M01|M02|M03|M04|M05|M06|M07|M08|M09|M10|M11|M12|M13|M14|M15|M16|M17|M99" />
						<xsd:length value="3" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="TaxPayable" type="tns:SAFmonetaryType" />
			<xsd:element name="NetTotal" type="tns:SAFmonetaryType" />
			<xsd:element name="GrossTotal" type="tns:SAFmonetaryType" />
			
			<!-- Código do país (ISO 3166 1-alpha-2) excluindo PT -->
			<xsd:simpleType name="ForeignCountry">
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="AF|AX|AL|DZ|AS|AD|AO|AI|AQ|AG|AR|AM|AW|AU|AT|AZ|BS|BH|BD|BB|BY|BE|BZ|BJ|BM|BT|BO|BA|BW|BV|BR|IO|BN|BG|BF|BI|KH|CM|CA|CV|KY|CF|TD|CL|CN|CX|CC|CO|KM|CG|CD|CK|CR|CI|HR|CU|CY|CZ|DK|DJ|DM|DO|EC|EG|SV|GQ|ER|EE|ET|FK|FO|FJ|FI|FR|GF|PF|TF|GA|GM|GE|DE|GH|GI|GR|GL|GD|GP|GU|GT|GG|GN|GW|GY|HT|HM|VA|HN|HK|HU|IS|IN|ID|IR|IQ|IE|IM|IL|IT|JM|JP|JE|JO|KZ|KE|KI|KP|KR|KW|KG|LA|LV|LB|LS|LR|LY|LI|LT|LU|MO|MK|MG|MW|MY|MV|ML|MT|MH|MQ|MR|MU|YT|MX|FM|MD|MC|MN|ME|MS|MA|MZ|MM|NA|NR|NP|NL|AN|NC|NZ|NI|NE|NG|NU|NF|MP|NO|OM|PK|PW|PS|PA|PG|PY|PE|PH|PN|PL|PR|QA|RE|RO|RU|RW|BL|SH|KN|LC|MF|PM|VC|WS|SM|ST|SA|SN|RS|SC|SL|SG|SK|SI|SB|SO|ZA|GS|ES|LK|SD|SR|SJ|SZ|SE|CH|SY|TW|TJ|TZ|TH|TL|TG|TK|TO|TT|TN|TR|TM|TC|TV|UG|UA|AE|GB|US|UM|UY|UZ|VU|VE|VN|VG|VI|WF|EH|YE|ZM|ZW" />
					<xsd:length value="2" />
				</xsd:restriction>
			</xsd:simpleType>
			

			<xsd:simpleType name="SAFPTtextTypeMandatoryMax20Car">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1" />
					<xsd:maxLength value="20" />
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:simpleType name="SAFdateType">
				<xsd:restriction base="xsd:date" />
			</xsd:simpleType>
			<xsd:simpleType name="SAFdecimalType">
				<xsd:restriction base="xsd:decimal" />
			</xsd:simpleType>
			<xsd:simpleType name="SAFmonetaryType">
				<xsd:restriction base="xsd:decimal" />
			</xsd:simpleType>
			
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="RegisterInvoiceRequest">
		<wsdl:part element="tns:RegisterInvoiceElem" name="RegisterInvoiceRequest" />
	</wsdl:message>
	<wsdl:message name="RegisterInvoiceResponse">
		<wsdl:part element="tns:RegisterInvoiceResponseElem" name="RegisterInvoiceResponse" />
	</wsdl:message>
	<wsdl:portType name="faturas">
		<wsdl:operation name="RegisterInvoice">
			<wsdl:input message="tns:RegisterInvoiceRequest" />
			<wsdl:output message="tns:RegisterInvoiceResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="faturasSOAP" type="tns:faturas">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="RegisterInvoice">
			<soap:operation
				soapAction="http://servicos.portaldasfinancas.gov.pt/faturas/RegisterInvoice" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="faturas">
		<wsdl:port binding="tns:faturasSOAP" name="faturasSOAP">
			<soap:address location="https://servicos.portaldasfinancas.gov.pt/faturas/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
